*{
    box-sizing: border-box!important;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.page-link{
    background-color: #6c757d;
    color: white;
    width: 40px;
    text-align: center;
}

.page-link{
    margin-left: 0!important;
}

